{% extends 'Autos/index.html' %}

{% block title%}<title>About Me</title>{% endblock %}
{% block main%}
<h1>About Me</h1>
<p>
    AutoShow presenta la oportunidad de crear una comunidad de fanaticos de autos poder compartir sus vehiculos con fotos y descripciones.
    Ademas de poder mandarse mensajes entre ellos y poder generar nuevos contactos y amigos. 

    La idea de haber hecho este curso es poder capacitarme en el desarrollo backend de aplicaciones y arrancar una carrera en el amplio mundo de la programacion.
    
    Gracias por utilizar esta aplicacion.
</p>

<ul>
    <li>
        Desarrollador: Franco Sanchez
    </li>
</ul>
{% endblock %}