{% extends 'Autos/index.html' %}

{% block title%}<title>Posts</title>{% endblock %}
{% block main%}
<h1>Publicaciones</h1>
<br>
<h1>Busca Publicaciones:</h1>   
        <form>
            {% csrf_token %}
            {{form.as_p}}
            <input type=submit value="Buscar">
        </form>
    
    <ul>{% for auto in object_list %}
    <li>
        {{auto}} 
        <a href="{% url 'auto-detail' auto.id %}">Ver mas</a>
        {% if user.is_authenticated and auto.dueño == user %}
            <a href="{% url 'auto-update' auto.id %}">Modificar</a>
            <a href="{% url 'auto-delete' auto.id %}">Eliminar</a>
        {% endif %}
        <br>
    </li>
    {% endfor %}
</ul>
{% endblock %}