{% extends 'Autos/index.html' %}

{% block title%}<title>Buscar Post</title>{% endblock %}
{% block main%}

<h4>Buscar Publicacion</h4>
     <form action="{% url 'auto-search' %}" method="GET">  
        <label name="buscar">Buscar:</label>
        <input type="text" name="buscar">
        <input type="submit" value="Buscar">
    </form> 
        {% if autos %}
        <ul>{% for auto in autos %}
            <li>
                {{auto}} 
                <a href="{% url 'auto-detail' auto.id %}">Ver mas</a>
                {% if user.is_authenticated and auto.dueño == user %}
                    <a href="{% url 'auto-update' auto.id %}">Modificar</a>
                    <a href="{% url 'auto-delete' auto.id %}">Eliminar</a>
                {% endif %}
                <br>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
{% endblock %}